.header_div
{
  background-color: cyan;
  color: darkgreen;
}
.p
{
  font-family:'Times New Roman', Times, serif; 
  font-weight: 300;
  letter-spacing: 12px;
  font-size: medium;
}
.button
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    width:50px;
    letter-spacing: 5px;
}
.copy_right_footer
{
    background-color: darkblue;
    width:300;
    font-size:large;
    height:150;
}